.socios{
    background-image: url("../Img/fondo-socios.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
    color: $color-blanco;
    display: flex;
    flex-direction: column;
    h2{
        margin: 2rem 0 2rem 2rem;
        font-size: 3rem;
    }
    div{
        margin-left: 2rem;
        
        &:nth-child(4){
            margin-bottom: 2rem;
        }
        &:nth-child(3){
            text-align: center;
            margin-left: 0;
        }
        p{
            font-size: 1.3rem;
        }
        img{
            width: 200px;
            height: 200px;
            border-radius: 20%;
            border: 6px solid $color-grisaso;
            
        }
    }
}