@import "../utilities/variables";
@import "../utilities/mixins";

footer {
    @include flex(space-evenly);
    height: 4rem;
    color: $color-blanco;
    margin-top: auto;
    width: 100%;
    font-size: 1.3rem;
    background-color: $color-gris;

    img{width: 4rem; }
    p{ margin-top:1rem ;
        color: rgb(255, 249, 249,0.2);
        font-size: 0.7rem;
    }
    a{position: relative;
        display: inline-block;
        color: white;
        padding: 15px;
        font-size: 23px;
        overflow: hidden;
        margin: 10px;

        img{ 
            width: 3rem;
            transition: 0.2s;
            object-fit: cover;
        }

        img:hover{
           transform: scale(1.4);
           border: solid rgb(231, 1, 252);
           border-radius: 50%;
           border-color: rgb(31, 1, 116);

           
        }
      
     }

}


@media (max-width:508px){
    footer {
        flex-direction: column;
        height: auto;
    }
  
}